html
  body
    .header
      ul.nav.nav-pills.pull-right
        li.active
          a(ng-href='#') Home
        li
          a(ng-href='#') About
        li
          a(ng-href='#') Contact
      h3.text-muted task app - cms
    div
      p Settings
      ul
        li(ng-repeat='setting in settings')
          | Setting名: {{ setting.name }}
      div
        .footer
          p
            span.glyphicon.glyphicon-heart
            | from the Yeoman team
